<header class="header">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Test</a>
      </div>
    </div>
  </nav>
</header>
